.weather {
  background-color: rgba(220, 240, 250, 0.95);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  .weather {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
}
