.auth {
  max-width: 50%;
  margin: 5rem auto;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(220, 240, 250, 0.95);
}

.auth p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.error {
  color: #f11;
  font-weight: 550;
}
