.places-list {
  text-align: center;
  margin: 1rem auto;
  width: calc(60% - 1rem);
}

.places-list h4 {
  margin: 2rem;
}

.places-list__your-places {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .places-list {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .places-list {
    width: 100%;
  }

  .places-list__your-places {
    justify-content: center;
  }
}
